<!DOCTYPR html>
<html>
<head>
  <title>  Shorten Link</title>
</head>
<body><h1>Hello World</h1>
<p>See Me in views/static/done.html.erb</p>
<p>your short url : <a href="localhost:9393/<%=@url.short_url%>">localhost:9393/<%=@url.short_url%></a></p>


</body>
</html>
