<div class="jumbotron">
      <div class="container">

        <h1>Error Message</h1>
        <p>Fail to generate new url due to :</p>
        <% @errors.each do |error| %>
  <p style="color:red; font-size:30;font-weight: bold" ><%= error %></p>
<% end %>
 </div>
     </div>
     <div class="container">
        <h1>Another Long Url</h1>
        <p>Generate another new short url</p>font-weight: bold
         <form  action = "/urls" method="post">
          Your Long url:<input type="text" name="long_url" placeholder="Enter url">


           <button type="submit" value="Submit" class="btn btn-success">Convert</button>
          </form>

      </div>

