<h1>Hello World</h1>
<p>See Me in views/static/index.html.erb</p>

<form action = "/urls" method="post">
  Enter url:
  <input type="text" name="long_url"><br>
  <input type="submit" value="Submit">
</form>


