


    <div class="jumbotron">
      <div class="container">
        <h1>No More Long Url</h1>
        <p>This page design to shorten your long url become short url for you easy to share.</p>
 <p class="hidden-content">keyin long url and system will convert your long url into short url!</p>
         <a  class="btn btn-primary"  role="button">Learn more &raquo;</a>
         <p></p>
          <form  action = "/urls" method="post">
          Your Long url:<input type="text" name="long_url" placeholder="Enter url">

           <button type="submit" value="Submit" class="btn btn-success">Convert</button>
          </form>

      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Links</h2>
          <p>Control your brand and capture your <a href ="#" data-toggle="popover" title="Data" data-content="short able to track down traffic" >data</a>. </p>
          <div>
            <a class="btn btn-default"  role="button">Hide All &raquo;</a>
           
          </div>
        </div>
        <div class="col-md-4">
          <h2>AUDIENCE</h2>
          <p>Own, analyze and understand your actively engaged audiences. </p>
          <div>
            <a class="btn btn-default"  role="button">Hide All &raquo;</a>
            
          </div>
       </div>
        <div class="col-md-4">
          <h2>ACTIVATE</h2>
          <p>DTarget your best audience and connect to the marketing cloud.</p>
          <div>
            <a class="btn btn-default"  role="button">Hide All &raquo;</a>
           
          </div>
        </div>
      </div>
      <div



